@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";



*{
    box-sizing: border-box;
    /* cursor: none; */
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
}


.wavedrop-img{
    transform: translateX(-10px) translateY(-10);
    scale: 1.2;
    filter: brightness(0);

}
.brightness-0{
    filter: brightness(-1);
}

.upper-footer div p a  {
    color: white;
    transition: 0.3s;
}

.upper-footer div p a:hover{
    text-decoration: underline;
    
}